extends layout

mixin row(user)
  tr
    td=user.id
    td=user.email
    td=user.first_name 
    td=user.last_name
    td
      img(src=user.avatar, alt="Oopsies couldnt get the image.")

block content
  h1 Users 
  table#users_display
    thead 
      tr 
        th ID
        th Email
        th First Name
        th Last Name
        th Avatar
    tbody
      for user in data 
        +row(user)

  form
      label(for='fnameInput')
        b [ First Name ]
      input#fnameInput(type='text' name='fname')
      br
      label(for='lnameInput')
        b [ Last Name ]
      input#lnameInput(type='text' name='lname')
      br
      label(for='emailInput')
        b [ Email Address ]
      input#emailInput(type='text' name='email')
      br
      button#submit(type='submit')
        b Submit!